.display-4 {
    margin-top: 1em;
}

.contact__form .form-control {
    padding: 1.375rem .75rem;
    line-height: 1.5;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    border: 1px solid black;
}

.contact__form input.form-control {
    margin-bottom: 2em;
    padding-top: 2em;
    height: calc(2.5em + .75rem + 2px);
}

.button {
    margin-top: 1em;
    margin-bottom: 3em;
    font-size: 1rem;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
}

.button:hover {
    cursor: pointer;
    background-color: red;
    transition: 0.4s;
}